<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="LibOpsDatabaseConnection" 
             connectionString="Server=(localdb)\MSSQLLocalDB;Database=LibOpsDb;Integrated Security=True;TrustServerCertificate=True;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <!-- Cấu hình Cổng thanh toán VietQR PayOS Auto-Banking -->
        <add key="PayOS_ClientId" value="e600df83-9a68-44f6-bb42-bb266dd3b8e7" />
        <add key="PayOS_ApiKey" value="74231360-e0d2-4346-a931-bcddc6ef734d" />
        <add key="PayOS_ChecksumKey" value="c0ce9bbf702764f4cb2687d95a38ad9b9b8229ad734babd527be2842c116e975" />

        <!-- Cấu hình Tài khoản Ngân hàng nhận tiền VietQR -->
        <add key="VietQR_BankCode" value="MB" />
        <add key="VietQR_BankName" value="MBBank (Ngân Hàng Quân Đội)" />
        <add key="VietQR_AccountNumber" value="00150818092005" />
        <add key="VietQR_AccountHolder" value="HE THONG THU VIEN LIBOPS" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>